/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 22, 2015, 11:35:45 PM
    Author     : locnguyen
*/

.dealbox{
    padding-left:30px;
    padding-right:30px;
}

.dealFirstSubheader{
    padding-top:20px; 
    padding-bottom:10px; 
    margin-bottom:0px; 
    font-weight:bold;
}

.dealSubheader{
    padding-top:10px; 
    padding-bottom:10px; 
    margin-bottom:0px; 
    font-weight:bold;
}

